*{ margin:0; padding:0; }
body{ font-family:"Microsoft Yahei"; background:#e6e6e6; }
a{ text-decoration:none; color:#B2CC1D; font-size:12px;  }
.clear{ clear:both; }
.data_warp{ width:800px;  margin: 20px auto; border:1px dashed #e3e3e3; padding:10px 30px 20px; background:#FBF6EB; }
.data_warp p{ border-bottom:1px solid #e3e3e3; padding:10px 0; font-weight:bold; color:#49BDCC; font-size:16px; }
.data_warp dl { border-bottom:1px dashed #ccc; margin-bottom:20px; }
.data_warp dl h4{ color:#333; font-size:15px; }
.data_warp dd{ margin:15px 0; }
.data_warp dt{ height:25px; padding-right:20px; line-height:25px; color:#333; margin:5px; font-size:14px; }
.data_warp .input_txt{ padding:5px; width:550px; color:#333; }
.data_warp .btn{ width:565px; padding:10px 5px; margin-top:10px; background:#49BDCC; color:#fff; border:none; cursor:pointer; }

.data_warp #add{ padding-left:20px; }

dl.beak{ font-size:12px; border-bottom:none; color:#666; }
dl.beak dd{ float:left; margin-right:10px; }

.data_warp ul{ list-style:none; margin:10px 0; }
.data_warp ul li {
	width: 150px;
	height:40px;
	line-height:40px;
	background:#49BDCC;
	float:left;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin:5px 10px;
}

table{ width:750px; margin:20px 0; border-right:1px solid #ccc;border-bottom:1px solid #ccc; font-size:12px;}
table thead tr{ background:#49BDCC; color:#fff; }
table tr{ height:30px;  }
table td{ padding-left:5px; border-left:1px solid #ccc;border-top:1px solid #ccc}
