/*
* 内容页面样式
*/

.wx-menu {
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	box-sizing: border-box;
}
.wx-menu .key {
	float: left;
	width: 300px;
	background: #333;
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right:none;
}
.wx-menu .key-main {
	height: 100%;
	padding: 10px;
	padding-bottom: 20px;
}
.wx-menu .value {
	display: block;
	margin-left: 300px;
	padding: 10px;
	background: #333;
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left:4px solid #ff9d11;
	overflow: hidden;
}
.key-main .form-control{
	margin: 10px 0 20px;
}
.wx-sub-menu {
	overflow: hidden;
}
.wx-sub-menu li {
	padding: 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.wx-sub-menu li:last-child {
	border-bottom: none;
}
.sub-key {
	float: left;
	width: 50%;
}
.sub-key .form-control {
	float: left;
	width: 50%;
}
.sub-value {
	float: left;
	width: 50%;
}
.sub-value>* {
	float: left;
	width: 50%;
}
.sub-value .btn-del {
	width: 60px;
	margin-left: 20px;
}
.wx-sub-menu .btn-add {
	width: 60px;
}
#wechatMenuForm>.btn-add {
	width: 280px;
}
.form-submit {
	margin-top: 40px;
	padding: 30px 0 20px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.2)
}
.form-submit a, .form-submit button, .form-submit input {
	display: inline;
	display: inline-block;
	width: 120px;
	margin: 0 5px;
	zoom: 1;
}
.form-submit .loading {
	margin: 0 auto;
}
.wx-syn {
	margin: 20px;
	padding: 40px 20px;
	text-align: center;
	background: #333;
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.wx-syn .btn {
	display: inline;
	display: inline-block;
	width: 120px;
	margin: 20px 5px 0;
	zoom: 1;
}
.reply-list {
	background: #666;
	background: rgba(0, 0, 0, 0.25);
}
.reply-list table .btn {
	width: 60px;
	padding: 2px 10px;
	margin: 4px 0;
}
.reply-list table .btn .loading {
	width: 24px;
	height: 24px;
	background-size: 20px 20px;
}
.reply_content_title {
	line-height: 38px;
	line-height: 36px;
	padding-left: 10px;
	border-left: 4px solid #ff9d11;
	background: rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.table-reply {
	background: rgba(0,0,0,0.1);
}