/*
* 内容页面样式
*/

.wx-menu {
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	box-sizing: border-box;
}
.wx-menu .key {
	float: left;
	width: 300px;
	background: #333;
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right:none;
}
.wx-menu .key-main {
	height: 100%;
	padding: 10px;
	padding-bottom: 20px;
}
.wx-menu .value {
	display: block;
	margin-left: 300px;
	padding: 10px;
	background: #333;
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left:4px solid #ff9d11;
	overflow: hidden;
}
.key-main .form-control{
	margin: 10px 0 20px;
}
.wx-sub-menu {
	overflow: hidden;
}
.wx-sub-menu li {
	padding: 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.wx-sub-menu li:last-child {
	border-bottom: none;
}
.sub-key {
	float: left;
	width: 50%;
}
.sub-key .form-control {
	float: left;
	width: 50%;
}
.sub-value {
	float: left;
	width: 50%;
}
.sub-value>* {
	float: left;
	width: 50%;
}
.sub-value .btn-del {
	width: 60px;
	margin-left: 20px;
}
.wx-sub-menu .btn-add {
	width: 60px;
}
#wechatMenuForm>.btn-add {
	width: 280px;
}
.form-submit {
	margin-top: 40px;
	padding: 30px 0 20px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.2)
}
.form-submit a, .form-submit button, .form-submit input {
	display: inline;
	display: inline-block;
	width: 120px;
	margin: 0 5px;
	zoom: 1;
}
.form-submit .loading {
	margin: 0 auto;
}
.wx-syn {
	margin: 20px;
	padding: 40px 20px;
	text-align: center;
	background: #333;
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.wx-syn .btn {
	display: inline;
	display: inline-block;
	width: 120px;
	margin: 20px 5px 0;
	zoom: 1;
}
.reply-list {
	background: #666;
	background: rgba(0, 0, 0, 0.25);
}
.reply-list table .btn {
	width: 60px;
	padding: 2px 10px;
	margin: 4px 0;
}
.reply-list table .btn .loading {
	width: 24px;
	height: 24px;
	background-size: 20px 20px;
}
.reply_content_title {
	line-height: 38px;
	line-height: 36px;
	padding-left: 10px;
	border-left: 4px solid #ff9d11;
	background: rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.table-reply {
	background: rgba(0,0,0,0.1);
}
.reply_form {
	padding: 15px;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
}
.reply_form dl {
	padding: 10px 0;
	overflow: hidden;
}
.reply_form dl.submit {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.reply_form dl:after {
	display: table;
	content: ' ';
	clear: both;
}
.reply_form .label {
	float: left;
	width: 25%;
	padding-right: 10px;
	text-align: right;
	line-height: 34px;
	min-height: 34px;
}
.reply_form .main {
	float: left;
	width: 50%;
	padding-left: 10px;
}
.reply_form2 {
	padding: 10px;
	background: rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.reply_form2 {
	position: relative;
}
.reply_form2 li {
	margin: 5px 0;
}
.reply_form2 .del {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	margin: 0;
	background: #f65047;
	border-bottom-left-radius: 30px;
	cursor: pointer;
}
.reply_form2 .del:hover {
	background: #e6433b;
}
.reply_form2 .del span {
	display: block;
	width: 14px;
	height: 3px;
	margin: 11px 0 0 11px;
	background: #fff;
}
.reply-table-img {
	display: block;
	width: 110px;
}
.reply_form .btn-add {
	width: 100px;
	margin-top: 10px;
}
.reply_form dl.submit input {
	display: inline;
	display: inline-block;
	width: 120px;
	margin-right: 5px;
	zoom: 1;
}
.reply_form dl.submit .loading {
	float: left;
}
.upLoadImg {
	display: table;
	position: relative;
	width: 100%;
	min-height: 64px; 
	background: url(../images/uploadImg.png) no-repeat center center;
	background-size:30px 30px;
	background-color: #666;
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
}
.upLoadImg.has {
	background-image: none;
}
.upLoadImg input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	filter: alpha(opacity=0);
	opacity: 0;
	cursor: pointer;
}
.upLoadImg .view {
	display: table-cell;
	vertical-align: middle;
	min-height: 64px;
	filter: alpha(opacity=0);
	opacity: 0;
}
.upLoadImg .view img{
	display: inline-block;
	width: 100%;
}
.upLoadImg.error {
	border: 1px solid #f65047;
    box-shadow: 0 0 1px 0px #f65047;
}
.upLoadImg.has .view {
	background-image: none;
	filter: alpha(opacity=100);
	opacity: 1;
}
