.tips-null {
  font-size: 0.7rem;
  color: #979797;
  text-align: center;
  padding: 1.0rem 0;
}
/*顶部*/
.bar-nav .icon {
  width: 2.2rem;
  height: 2.2rem;
}
.bar-nav .icon-back {
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: 0.45rem auto;
  background-position: 50% 50%;
}
/*底部菜单图标*/
.bar-tab .tab-item .icon {
  background: url(../images/bar-tab.png) no-repeat;
  background-size: 2.4rem auto;
}
.bar-tab .tab-item .i-home {
  background-position: 0 0;
}
.bar-tab .tab-item .i-price {
  background-position: 0 -1.2rem;
}
.bar-tab .tab-item .i-search {
  background-position: 0 -2.4rem;
}
.bar-tab .tab-item .i-user {
  background-position: 0 -3.6rem;
}
.bar-tab .tab-item.active .i-home {
  background-position: -1.2rem 0;
}
.bar-tab .tab-item.active .i-price {
  background-position: -1.2rem -1.2rem;
}
.bar-tab .tab-item.active .i-search {
  background-position: -1.2rem -2.4rem;
}
.bar-tab .tab-item.active .i-user {
  background-position: -1.2rem -3.6rem;
}
.edit-list-icon {
  margin-top: 0.5rem;
  background: #fff;
}
.edit-list-icon .list {
  margin: 0 0.5rem;
  list-style: none;
  padding: 0;
}
.edit-list-icon .list li {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e7e7e7;
}
.edit-list-icon .list li .icon {
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.2rem;
  margin-left: 0.25rem;
  background: url(../images/login.png) no-repeat;
  background-size: auto 1.6rem;
}
.edit-list-icon .list li .icon-tel {
  background-position: 0 0;
}
.edit-list-icon .list li .icon-code {
  background-position: 0 -0.8rem;
}
.edit-list-icon .list li .input-controll {
  margin-left: 1.7rem;
}
.edit-list-icon .list li input.txt {
  display: block;
  width: 100%;
  border: none;
  font-size: 0.9rem;
  color: #666;
}
.edit-list-icon .list li .btn {
  position: absolute;
  right: 0.25rem;
  top: 0.4rem;
  padding: 0.1rem 0.2rem;
  font-size: 0.75rem;
  color: #ff464e;
  border: 1px solid #ff464e;
  border-radius: 0.2rem;
  background: #fff;
}
.edit-list-icon .list li .btn-gray {
  display: none;
  border-color: #979797;
  color: #979797;
}
.edit-list-icon .list li:last-child {
  border-bottom: none;
}
.bin-btn {
  margin: 1.1rem 0.9rem;
  height: 2.45rem;
  line-height: 2.45rem;
  color: #fff;
  background: #ff464e;
  border-radius: 0.25rem;
  overflow: hidden;
}
.bin-btn * {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.45rem;
  color: #fff;
  border: none;
  font-size: 1.15rem;
  background: none;
}
/*首页logo*/
.title-img {
  display: inline-block;
  height: 1.2rem;
  vertical-align: middle;
}
/*首页分类导航*/
.index-class.swiper-container {
  height: 2.0rem;
  padding: 0 0.5rem;
  line-height: 2.0rem;
  font-size: 0.7rem;
  margin-top: 2.2rem;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.index-class.swiper-container .swiper-slide {
  width: auto;
  padding: 0 0.15rem;
  margin: 0 0.4rem;
  color: #1c1c1c;
  text-align: center;
}
.index-class.swiper-container .swiper-slide.active {
  color: #ff464e;
  border-bottom: 2px solid #ff464e;
}
/*首页主页banner*/
.index-banner.swiper-container {
  position: relative;
  padding-bottom: 45.33333333%;
  margin-bottom: 0.5rem;
}
.index-banner.swiper-container .swiper-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.index-banner.swiper-container .swiper-wrapper .swiper-slide {
  display: block;
}
.index-banner.swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.index-banner.swiper-container .swiper-pagination {
  text-align: right;
  left: auto;
  right: 0.4rem;
  bottom: 0.4rem;
  font-size: 0;
}
.index-banner.swiper-container .swiper-pagination-bullet {
  width: 0.4rem;
  height: 0.4rem;
  background: #fff;
  opacity: 1;
}
.index-banner.swiper-container .swiper-pagination-bullet-active {
  background: #ff464e;
}
.index-page.swiper-container {
  min-height: 100%;
}
/*首页主页产品*/
.index-index {
  background: #fff;
}
.index-index .list-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.index-index .list-container li {
  margin-bottom: 1.35rem;
}
.index-index .list-container li > a {
  display: block;
}
.index-index .index-pro-title {
  margin: 0.8rem 0 0.75rem;
  padding-bottom: 4.8%;
  background: url(../images/index-pro-title.png) no-repeat center center;
  background-size: 100% auto;
}
.index-index .img {
  position: relative;
  padding-bottom: 47.2%;
}
.index-index .img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.index-index .info {
  margin: 0.8rem 0.5rem 0.65rem;
  overflow: hidden;
}
.index-index .info .name {
  float: left;
  width: 60%;
  margin: 0;
  font-size: 0.7rem;
  color: #1c1c1c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.index-index .info .sales {
  float: right;
  width: 40%;
  font-size: 0.6rem;
  color: #979797;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.index-index .group {
  position: relative;
  margin: 0 0.5rem;
  height: 1.85rem;
  padding-left: 2.2rem;
  line-height: 1.85rem;
  color: #fff;
  font-size: 0.75rem;
  background: url(../images/index-pro-group.png) no-repeat 0.09rem 0.09rem;
  background-size: 1.666666rem 1.666666rem;
  background-color: #ff6b71;
  border-radius: 1.85rem;
  overflow: hidden;
}
.index-index .group span {
  padding-right: 0.25rem;
}
.index-index .group .num {
  font-size: 0.75rem;
}
.index-index .group .now-price {
  font-size: 0.9rem;
}
.index-index .group .old-price {
  font-size: 0.6rem;
  text-decoration: line-through;
}
.index-index .group::after {
  content: '去开团 >';
  position: absolute;
  top: 0;
  right: 0;
  height: 1.85rem;
  line-height: 1.85rem;
  padding: 0 0.6rem;
  font-size: 15px;
  background: #ff464e;
  border-top-right-radius: 1.85rem;
  border-bottom-right-radius: 1.85rem;
}
.index-index::before {
  display: block;
  content: '';
  height: 1px;
}
/*首页分类页产品*/
.index-pro {
  background: #fff;
  padding: 0.25rem;
}
.index-pro .list-container {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.index-pro .list-container li {
  float: left;
  width: 50%;
}
.index-pro .list-container li a {
  display: block;
  margin: 0.25rem;
}
.index-pro .img {
  position: relative;
  padding-bottom: 100%;
}
.index-pro .img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.index-pro .name {
  margin: 0.5rem 0.5rem 0.3rem;
  font-size: 0.6rem;
  color: #1c1c1c;
  height: 1.8rem;
  line-height: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.index-pro .name .num {
  margin-right: 0.25rem;
  padding: 0 0.15rem;
  text-align: justify;
  font-size: 0.6rem;
  font-size: 0.5rem;
  color: #f85981;
  border: 1px solid #f85981;
  border-radius: 3px;
}
.index-pro .info {
  margin: 0 0.5rem 0.5rem;
  color: #f85981;
  font-size: 0.6rem;
  line-height: 1.35rem;
  overflow: hidden;
}
.index-pro .info .price {
  font-size: 0.9rem;
  color: #f85981;
}
.index-pro .info .sales {
  float: right;
  font-size: 0.6rem;
  font-size: 0.5rem;
  color: #979797;
}
/*首页弹窗*/
.popup-coupon > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 76%;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.0rem 0.5rem;
}
.popup-coupon > div .close-popup {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: -0.4rem;
  right: -0.4rem;
  background: url(../images/popup-close.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.popup-coupon > div .title1 {
  margin: 0.5rem 0 1.0rem;
  font-size: 0.75rem;
  color: #1c1c1c;
  font-weight: normal;
  text-align: center;
}
.popup-coupon > div .freeCoupon {
  position: relative;
  height: 3.7rem;
  padding: 0.5rem;
  background: #f9f9f9;
}
.popup-coupon > div .freeCoupon .name {
  font-size: 0.7rem;
  color: #ff464e;
}
.popup-coupon > div .freeCoupon .name span {
  font-size: 0.65rem;
}
.popup-coupon > div .freeCoupon .tips {
  font-size: 0.6rem;
  color: #1c1c1c;
}
.popup-coupon > div .freeCoupon .time {
  font-size: 0.6rem;
  color: #979797;
}
.popup-coupon > div .freeCoupon .price {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.35rem;
  height: 3.7rem;
  line-height: 3.7rem;
  text-align: center;
  color: #fff;
  font-size: 0.6rem;
  background: url(../images/index-popup.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.popup-coupon > div .freeCoupon .price span {
  font-weight: bold;
  font-size: 1.3rem;
}
.popup-coupon > div .go {
  display: block;
  width: 7.0rem;
  height: 1.7rem;
  margin: 0.9rem auto 0;
  line-height: 1.7rem;
  font-size: 0.85rem;
  color: #fff;
  text-align: center;
  border-radius: 0.25rem;
  background: #ff464e;
}
/*详情页返回*/
.deta-back {
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/deta-back.png) no-repeat 0 0;
  background-size: 100% 100%;
  z-index: 2;
}
/*详情页banner*/
.deta-banner {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.deta-banner .swiper-slide {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.deta-banner img {
  position: absolute;
  width: 100%;
  hegiht: 100%;
  top: 0;
  left: 0;
}
.deta-banner .swiper-pagination {
  text-align: center;
  left: auto;
  right: 0.4rem;
  bottom: 0.4rem;
  font-size: 0;
}
.deta-banner .swiper-pagination-bullet {
  width: 0.4rem;
  height: 0.4rem;
  background: #979797;
  opacity: 1;
}
.deta-banner .swiper-pagination-bullet-active {
  background: #ff464e;
}
/*详情页基本信息*/
.deta-info {
  padding: 0 0.5rem 0.5rem;
}
.deta-info .d-i-1 {
  line-height: 2.0rem;
  color: #ff464e;
  font-size: 0.8rem;
}
.deta-info .d-i-1 .nowPrice {
  font-size: 1.0rem;
}
.deta-info .d-i-1 .oldPrice {
  color: #979797;
  font-size: 0.7rem;
  text-decoration: line-through;
}
.deta-info .d-i-1 .sales {
  float: right;
  font-size: 0.6rem;
  color: #979797;
}
.deta-info .name {
  color: #1c1c1c;
  font-size: 0.75rem;
}
.deta-info .txt {
  padding: 0.5rem 0;
  color: #979797;
  font-size: 0.65rem;
  border-bottom: 1px solid #e7e7e7;
}
.deta-info .tips img {
  display: block;
  width: 100%;
}
.deta-group .title1 {
  position: relative;
  margin: 0.5rem 0;
  height: 2.0rem;
  line-height: 2.0rem;
  border-left: 0.2rem solid #ff464e;
  color: #ff464e;
  font-size: 0.65rem;
  font-weight: normal;
  padding-left: 0.5rem;
}
.deta-group .title1::after {
  display: block;
  content: '';
  height: 1px;
  margin: 0 0.5rem;
  background: #e7e7e7;
}
.deta-group .list {
  margin: 0 0.5rem;
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}
.deta-group .list li {
  height: 3.7rem;
  margin-top: 0.5rem;
  border: 1px solid #ff464e;
  border-radius: 0.5rem;
  overflow: hidden;
}
.deta-group .list li .btn {
  float: right;
  width: 3.7rem;
  height: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  line-height: 3.7rem;
  background: #ff464e;
}
.deta-group .list li .info {
  position: relative;
  margin-right: 4.2rem;
}
.deta-group .list li .info .img {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.deta-group .list li .info .img img {
  display: block;
  width: 100%;
  height: 100%;
}
.deta-group .list li .info .name {
  position: absolute;
  top: 0.5rem;
  left: 3.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #3e3e3e;
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.deta-group .list li .info .num,
.deta-group .list li .info .timer {
  color: #737373;
  font-size: 0.75rem;
  text-align: right;
  padding: 0.25rem 0;
}
.deta-group .list li .info .num {
  padding-top: 0.5rem;
}
.deta-group .list li .info .timer {
  padding-bottom: 0.5rem;
}
.deta-group .list li .info .timer .icon-timer {
  display: inline-block;
  margin-right: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url(../images/timer.png) no-repeat 0 0;
  background-size: 100% 100%;
  vertical-align: middle;
}
.deta-video .iframeVideo {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.deta-video .iframeVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.deta-video video {
  display: block;
  width: 100%;
  height: auto;
}
.deta-img img {
  display: block;
  width: 100%;
}
.deta-tips {
  margin-top: 0.5rem;
  padding-bottom: 1.3rem;
}
.deta-tips h3 {
  margin: 0;
  font-size: 0.75rem;
  color: #1c1c1c;
  font-weight: normal;
  padding: 0.8rem 1.1rem;
}
.deta-tips img {
  display: block;
  width: 100%;
}
.deta-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.7rem;
  overflow: hidden;
}
.deta-footer .goIndex {
  float: left;
  width: 2.7rem;
  height: 2.7rem;
  text-align: center;
}
.deta-footer .goIndex .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.25rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-top: 0;
  padding-bottom: 0;
  background: url(../images/bar-tab.png) no-repeat;
  background-size: 2.4rem auto;
}
.deta-footer .goIndex .tab-label {
  display: block;
  padding-top: 0.15rem;
  font-size: .55rem;
  color: #1c1c1c;
}
.deta-footer .buy {
  margin-left: 2.7rem;
  height: 2.7rem;
  overflow: hidden;
}
.deta-footer .buy a {
  float: left;
  width: 50%;
  padding-top: 0.4rem;
  height: 2.7rem;
  text-align: center;
  font-size: 0.65rem;
  color: #fff;
  background: #ff464e;
}
.deta-footer .buy a P {
  margin: 0;
  font-size: 0.65rem;
  line-height: 0.95rem;
}
.deta-footer .buy a P b {
  font-size: 0.9rem;
}
.deta-footer .buy a.one {
  background: #ff6b71;
}
/*团免列表*/
.freeList-tips {
  font-size: 0.65rem;
  color: #898989;
  line-height: 0.9rem;
  padding: 0.8rem 0.75rem;
}
.freeList-tips::before {
  content: '';
  display: inline-block;
  vertical-align: sub;
  margin-right: 0.25rem;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../images/tips.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.freeList .list-container {
  margin: 0;
  padding: 0;
  list-style: none;
}
.freeList .list-container li {
  min-height: 5.45rem;
  margin-bottom: 0.5rem;
  padding: 0.65rem;
  background: #fff;
}
.freeList .list-container li a {
  display: block;
}
.freeList .list-container li a .img {
  float: left;
  width: 4.15rem;
  height: 4.15rem;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
}
.freeList .list-container li a .img img {
  display: block;
  width: 100%;
  height: 100%;
}
.freeList .list-container li a .info {
  margin-left: 4.75rem;
}
.freeList .list-container li a .info .name {
  height: 2.1rem;
  line-height: 1.05rem;
  font-size: 0.7rem;
  color: #1c1c1c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.freeList .list-container li a .info .price {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: #ff464e;
}
.freeList .list-container li a .info .price .price1 {
  font-size: 1.0rem;
}
.freeList .list-container li a .info .price .price2 {
  display: inline-block;
  margin-left: 0.2rem;
  color: #979797;
  text-decoration: line-through;
}
.freeList .list-container li a .info .price .btn {
  float: right;
  width: 3.65rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 0.15rem;
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
  background: #ff464e;
}
/*拼团提示*/
.proTips-1 {
  padding: 0.9rem 0.5rem;
}
.proTips-1 .img {
  float: left;
  width: 2.75rem;
  height: 2.75rem;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #b5b5b6;
}
.proTips-1 .info {
  margin-left: 3.25rem;
}
.proTips-1 .info .txt1 {
  padding-top: 0.25rem;
  font-size: 0.85rem;
  color: #1c1c1c;
}
.proTips-1 .info .txt2 {
  padding-top: 0.25rem;
  font-size: 0.6rem;
  color: #8f8f8f;
}
.proTips-2 {
  padding-bottom: 1px;
  background: #fff;
}
.proTips-2 .title1 {
  margin: 0 0.6rem;
  padding: 0.6rem 0;
  font-size: 0.7rem;
  font-weight: normal;
  color: #5f5f5f;
  border-bottom: 1px solid #e7e7e7;
}
.proTips-2 .title1::before {
  display: inline-block;
  vertical-align: sub;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  background: url(../images/pro.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.proTips-3 {
  margin-top: 0.5rem;
  background: #fff;
}
.proTips-3 .title1 {
  margin: 0;
  line-height: 0.9rem;
  padding: 0.6rem;
  font-size: 0.7rem;
  font-weight: normal;
  color: #5f5f5f;
  border-bottom: 1px solid #e7e7e7;
}
.proTips-3 .title1 .time {
  float: right;
  margin: 0;
  font-size: 0.6rem;
  color: #ff464e;
}
.proTips-3 .title1::before {
  display: inline-block;
  vertical-align: sub;
  content: '';
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.5rem;
  background: url(../images/group.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.proTips-3 .list {
  margin: 0;
  list-style: none;
  padding: 0.85rem 1.0rem;
}
.proTips-3 .list li {
  position: relative;
  min-height: 2.3rem;
  margin-bottom: 0.7rem;
  padding: 0.25rem 1.0rem;
  border: 1px solid #ff464e;
  border-radius: 0.25rem;
  overflow: hidden;
}
.proTips-3 .list li .img {
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  overflow: hidden;
  background: #bfc0c0;
}
.proTips-3 .list li .img img {
  display: block;
  width: 100%;
  height: 100%;
}
.proTips-3 .list li .name {
  position: absolute;
  width: 3.0rem;
  left: 3.1rem;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.6rem;
}
.proTips-3 .list li .name span {
  padding: 1px 3px;
  color: #ff464e;
  border: 1px solid #ff464e;
  border-radius: 0.1rem;
}
.proTips-3 .list li .name p {
  margin: 0;
  color: #3e3e3e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.proTips-3 .list li .time {
  font-size: 0.8rem;
  color: #3e3e3e;
  line-height: 1.8rem;
  text-align: right;
}
.proTips-3 .list li.join .img {
  background-image: url(../images/question.png);
  background-size: 100% 100%;
}
.proTips-3 .list li.join .tips {
  position: absolute;
  left: 4.1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.7rem;
  color: #ff464e;
  line-height: 0.9rem;
}
.proTips-3 .list li.fail .tips {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.7rem;
  text-align: center;
  color: #ff464e;
}
.proTips-3 .list li:last-child {
  margin-bottom: 0;
}
.proTips-4 {
  background: #fff;
  padding-bottom: 0.75rem;
}
.proTips-5 {
  margin-top: 0.5rem;
  padding: 1.5rem 0.5rem 2.0rem;
  background: #fff;
}
.proTips-5 a {
  position: relative;
  display: block;
  font-size: 0.75rem;
  color: #fff;
  line-height: 1.1rem;
  padding: 0.35rem;
  border-radius: 1.5rem;
  text-align: center;
  background: #ff6b71;
  overflow: hidden;
}
.proTips-5 a .info {
  margin-right: 4.15rem;
}
.proTips-5 a .info .late {
  float: right;
  padding: .35rem 0.5rem;
  height: 100%;
  margin: -0.35rem 0;
  background: #9fa0a0;
}
.proTips-5 a .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5rem;
  height: 100%;
  line-height: 1.85rem;
  font-size: 0.75rem;
  color: #fff;
  background: #ff464e;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.proTips-5 a span.price1 {
  font-size: 0.8rem;
  font-weight: bold;
}
.proTips-5 a span.price2 {
  font-size: 0.6rem;
  text-decoration: line-through;
}
