/*
*	注册页面
*	Author: xujk.cc
*	date: 2016.07.04
*/

body{background:#eee;}

.header{height:44px;line-height:44px;}
.header .title{color:#333;text-align:center;font-size:16px;background:#fdd714;}

.reg{background:#fff;margin-top:10px;}
.reg>ul{padding:0 15px;}
.reg>ul>li{background-image:url(../images/reg_icon.png);background-repeat:no-repeat;background-size:20px auto;}
.reg-icon-name{background-position:0 0;}
.reg-icon-sex{background-position:0 -50px;}
.reg-icon-birthday{background-position:0 -100px;}
.reg-item{display:block;margin-left:30px;line-height:49px;height:49px;border-bottom:1px solid #eee;overflow:hidden;}
.reg-item .title{display:inline-block;vertical-align:middle;font-weight:normal;font-size:15px;color:#333;}
.reg-item .input{display:inline-block;vertical-align:middle;margin-left:10px;}
.reg-item .input .reg-item-txt{display:inline-block;vertical-align:middle;min-width:150px;font-size:14px;color:#a9a9a9;}
.reg-item .input input{display:block;border:none;color:#666;font-size:14px;line-height:49px;height:49px;}
.reg-item .input select{display:none;}

.submit{margin:55px 15px;}
input.submit-btn{display:block;width:100%;height:35px;line-height:35px;font-size:15px;border:none;border-radius:4px;color:#333;background:#fdd714;}
.submit-agreement{display:block;padding-top:6px;}
.submit-agreement span{display:inline-block;vertical-align:middle;font-size:10px;color:#333;}
.submit-agreement .ckx-box{position:relative;display:inline-block;vertical-align:middle;width:12px;height:12px;background-image:url(../images/reg_icon.png);background-repeat:no-repeat;background-size:20px auto;background-position:0 -151px;}
.submit-agreement .ckx-box.active{background-position:0 -168px;}
.submit-agreement .g-ckx{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;-webkit-opacity:0;}































